[flake8]
max-line-length = 110
noqa-require-code = True
extend-exclude =
    # virtual environment inside project folder
    .venv,
extend-ignore =
    # Whitespace before ':' not correctly handled in slices
    E203
    # Ignore pycodestyle's Missing Docstrings
    D100
    D101
    D102
    D103
    D104
    D105
    D106
    D107
    # Ignore C408 Unnecessary dict call - rewrite as a literal because it is violated in a lot of places
    C408
